{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  {% load static %}

  <div class="row">
    {% include "includes/about_profile_card.html" %}

    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">

          <img src="{% static 'author/solarography1.jpg' %}" alt="skyline" style="width:100%; height:100%">
          Я профессиональный репортажный фотограф - снимаю новости для информационного агентства. Официальные встречи, приемы, рукопожатия; разные чемпионаты; были и митинги, были и пожары. В общем, работа с моментом.<br>
          Однако реальный угар - это медленные аналоговые процессы. Пленка и проявка это да, но как насчет выдержки в несколько месяцев?<br>
          Для этого я собрал из банки газировки аналог камеры-обскуры: сделал отверстие булавкой, чтобы проникал свет, поместил внутрь фотобумагу, затем заклеил конструкцию в ноль скотчем, чтобы внутрь больше не проникал никакой свет. Бумага светочувствительна, как и пленка, но значительно слабее, поэтому на ней печатают уже готовые изображения.<br>
          Получилась сверхширокоугольная камера с абсолютной глубиной резкости, но слабой детализацией. Зато за счет очень низкой чувствительности ее можно оставить экспонироваться на несколько месяцев! В результате выходит вот такой сюрреалистический пейзаж.<br>
          Линии - это проходы солнца, силуэты - просто дома во дворе.<br>
          Это первый кадр, теперь попробовал расставить еще несколько таких камер на балконах друзей.
          А программирование для меня - это попытка переквалифицироваться. Начинал с HTML Academy и базовой верстки, срезался на учебнике по JavaScript. Решил попробовать зайти с другого конца и всерьез пошел учиться бэкенду.
        </div>
      </div>
    </div>
  </div>
{% endblock %}
