{% extends "base.html" %}
{% block title %}О технологиии{% endblock %}
{% block content %}
  {% load static %}
  <div class="row">
    {% include "includes/about_profile_card.html" %}
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <p>Разбираюсь с документацией</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/WAgx9uLSt7w"
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <p>Проект написан на Django 2.2 в качестве фреймворка и применяет шаблоны Bootstrap для оформления вёрстки.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
