<div class="card">
    <div class="card-body">
      <div class="h2">
        {{ post.author.get_full_name }}
      </div>
      <div class="h3 text-muted">
        {{ post.author.username }}
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="h6 text-muted">
          Подписчиков: {{ follower_count }} <br>
          Подписан: {{ following_count }}
        </div>
      </li>
      <li class="list-group-item">
        <div class="h6 text-muted">
          Записей: {{ posts_count }}
        </div>
      </li>
      <li class="list-group-item">
        {% if user.is_authenticated %}
          {% if following %}
            <a
              class="btn btn-lg btn-light"
              href="{% url 'profile_unfollow' user.username %}" role="button">
              Отписаться
            </a>
          {% else %}
            <a
              class="btn btn-lg btn-primary"
              href="{% url 'profile_follow' user.username %}" role="button">
              Подписаться
            </a>
          {% endif %}
        {% endif %}
      </li>
    </ul>
  </div>